.navBar {
    height: 80px;
    background: $color-one;

    h3 {
        text-align: center;
        color: white;
        font-family: 'Alfa Slab One', cursive;
        color: white;
        font-size: 1.4em;
        letter-spacing: 3px;
        padding-top: 30px;
    }
}